<h1>Submit new vendor!</h1>
<p><a href="/vendors">Return to Vendor List</a></p>
@* <form>
    <label for="newVendor">Vendor Name</label>
    <input type="text" id ="newVendor" name="newVendor">Type name</input>
    <button type="submit">Submit</button>
</form> *@