<h1>Submit new vendor!</h1>
<form action="/vendors" method="post">
    <label for="newVendor">Vendor Name</label>
    <input type="text" id ="newVendor" name="newVendor">Vendor Name</input><br>
    <label for="vendorDescription">Description</label>
    <input type="text" id ="vendorDescription" name="vendorDescription">Type Description</input><br>
    <button type="submit">Submit</button>
</form>
<p><a href="/vendors">Return to Vendor List</a></p>