<h1>Add a new vendor to @Model.Name</h1>
    
<form action="/orders/@Model.Id/vendors" method="post">
    <input id="orderId" name="orderId" type="hidden" value="@Model.Id">
    <label for="vendorDescription">Vendor Description</label>
    <input id="vendorDescription" name="vendorDescription" type="text">
    <button type="submit">Submit</button>    
</form>