<h1>Vendor List Details: </h1>

<h2>@Model["vendors"].Name</h2>
<p>Order: @Model["order"].Name</p>


<a href='/orders/@Model["order"].Id/vendors/new'>Add another Vendor</a><br>
<a href="/orders">View all Orders</a>