

<h1>Add an order</h1>
<p>Add an order here:</p>

<form action="/orders" method="post">
    <label for="orderName">Order</label>
    <input id="orderName" name="orderName" type="text">
    <button type="submit">Submit</button>    
</form>

<p><a href="/">Back home</a></p><br>
<p><a href="/orders">Back to orders</a></p>